*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.wrapper {
   background: #222;
   color: #fff;
}
.comtainer {
    width: 70%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

nav h3 {
    font-size: 1.4rem;
    text-align: center;
}

nav h3 span {
    background: #2f2ce2;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 8px;
}
nav ul {
    display: flex;
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: #fff;
    font-size: 1.2rem;
}

nav a.menu {
    background: #2f2ce2;
    color: #fff;
    padding: .5rem .8rem;
    border-radius: 7px;
}

.content {
    height: 85vh;
    
}

.flexbox {
    display: flex; 
    height: 100%;
}

.span-6 {
    flex-basis: 50%;
}

.coding-desc {
    display: flex;
}

.inner-desc {
    margin: auto;
    padding: 0 10rem;
}

.coding-desc h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.coding-desc h3 {
    margin-bottom: .5rem;
}

.codinn-desc p {
    line-height: 1.7rem;
    font-size: 1.5rem;
}

.span-6 img {
    height: auto;
    width: 60%; 
    align-content: center;
}

.lava1 {
    position: absolute;
    right: 90%;
}

.lava2 {
    position: absolute;
    left: 85%;
    bottom: 106px;

}