*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.wrapper {
   background: #222;
   color: #fff;
}
.comtainer {
    width: 75%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

nav ul {
    display: flex;
}

nav li {
    margin: o 1rem;
}